#about {
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about-info {
  margin-right: 30px;
}

#about-info > h1 {
  font-size: 40px;
}

#about-image {
  max-width: 350px;
  margin: auto 0;
}
