header {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav,
nav > ul,
nav > ul > li > a {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}
